@model ArtistProfileModel

<div class="container px-4 px-lg-5">
    <!-- Heading Row-->
    <div class="row gx-4 gx-lg-5 align-items-center my-5">
          <div class="col-lg-5">
            <h1 class="font-weight-light">@Model.ArtistName</h1>
            <p>@Model.Biography</p>
        </div>
        <div class="col-lg-7"><img class="img-fluid rounded mb-4 mb-lg-0" src="@Model.ImageUrl" alt="Image" /></div>
      
    </div>
    <!-- Call to Action-->
    <div class="card text-white bg-secondary my-5 py-2 text-center">
        <div class="card-body"><p class="text-white m-0">@(Model.ArtistName)'s 3 most recent songs</p></div>
    </div>
    <!-- Content Row-->
    <div class="card" style="width: 18rem; text-align:center;">
      <img src="@Model..First().ImageURL" class="card-img-top" alt="...">
      <div class="card-body">
        <h5>@Model.Songs.First().SongName</h5>
        <p class="card-text b"></p>
      </div>
    </div>
   
</div>
