@model EventAddFormModel;
@{
    ViewData["Title"] = "Add Event";
}

<div class="container">
     <div class="row">
         <div class=" offset-md-2 col-md-8 col-sm-12">
             <h2 class ="heading-margin text-center">Add Event</h2>
             <form  method="post" class="row g-3">
              <div class="col-md-6">
                <label asp-for="EventName" class="form-label">Event Name</label>
                <input asp-for="EventName" class="form-control" placeholder="Enter name here">
                <span asp-validation-for="EventName" class="small text-danger"></span>

              </div>
              
              <div class="col-md-6">
                <label asp-for="Venue" class="form-label">Venue</label>
                <input asp-for="Venue" class="form-control" placeholder="Enter venue here">
                <span asp-validation-for="Venue" class="small text-danger"></span>

              </div>
              
              <div class="col-md-6">
                <label asp-for="ImgURL" class="form-label">Image URL</label>
                <input asp-for="ImgURL" class="form-control" placeholder="Enter image URL here">
                <span asp-validation-for="ImgURL" class="small text-danger"></span>

              </div>
            
              <div class="col-md-6">
                <label asp-for="Description" class="form-label">Event Name</label>
                <textarea asp-for="Description" class="form-control" rows="5" placeholder="Enter description here"></textarea>
                <span asp-validation-for="Description" class="small text-danger"></span>

              </div>

              <div class="col-md-4">
               <label asp-for="CountryId" class="form-label">Country</label>
               <select asp-for="CountryId" id="CountryId" name="CountryId" class="form-control" asp-items="@(new SelectList(@Model.Countries, "Id", "CountryName"))"></select>
               
              </div>    
            
              <div class="col-md-4">
               <label asp-for="CityId" class="form-label">City</label>
               <select asp-for="CityId" id="CityId" name="CityId" class="form-control" asp-items="@(new SelectList(string.Empty, "CityId", "CityName"))"></select>
              </div>


              <div class="col-md-6">
                <label asp-for="Time" class="form-label">Choose Date</label>
                <input asp-for="Time" class="form-control" value="@DateTime.Today">
                <span asp-validation-for="Time" class="small text-danger"></span>
              
              </div>

              

            <button type='button' onclick="addArtist()"  id='btn1'>submit</button> 

            
          <div class="col-12" id="loadPartial" >

           </div>
             
              <div class="col-12">
                <button type="submit" class="btn btn-primary">Submit</button>
              </div>
            </form>
              
         </div>
                               
     </div>
 </div>
@section Scripts{

<script type="text/javascript">    
        
         $(document).ready(function () {           
           var items = "<option value='0'>Select</option>";
           $("#CityId").html(items);                               
        });
</script>

<script type="text/javascript"> 
        $(document).ready(function () {

          $("#CountryId").change(function () {

             var url= '@Url.Content("~/")'+ "Events/GetCities";
            
             var ddlsource = "#CountryId";

              $.getJSON(url, { CountryId: $(ddlsource).val() }, function (data) {

                var items = '';
                $("#CityId").empty();
                $.each(data, function (i, city) {

                    items += "<option value='" + city.value + "'>" + city.text + "</option>";
                });
                $('#CityId').html(items);
        }); 
          }); 
             });

</script> 


<script type="text/javascript">

      
        var myDiv = document.getElementById("loadPartial");
        var btn = document.getElementById("btn1");

        function addArtist(e){         
            var newDiv = document.createElement("div");
            newDiv.style="padding-bottom: 10px;padding-top: 10px;";
            newDiv.insertAdjacentHTML('beforeend',$(newDiv).load('@Url.Action("GetPartialArtists", "Events")')) ;
            myDiv.append(newDiv);         
        }
       
</script>

@*<script type="text/javascript">
    
     function remove(ev){
         alert("sgsge");
        $(ev.target).parent().parent().remove();

           function remove(ev){
            alert("aaaa");
            var divToRemove = ev.target.parentNode.parentNode;
            myDiv.removeChild(divToRemove);
        }
    }
</script>*@

 }

